<ion-header>
  <ion-toolbar>
    <ion-title>cardsDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Item Labels -->
  <ion-item>
    <ion-label color="primary">Tarjetas (2)</ion-label>
  </ion-item>
  
  <!-- Listade tarjetas -->
  <ion-list>
    <ion-item >
      <ion-label text-wrap>
        <h3>{{ alias }}</h3>
        <h3>{{ number }}</h3>
        <h3>{{ avaliableAmountRD }}</h3>
        <h3>{{ avaliableAmountUS }}</h3>
        <h3>{{ isInternational }}</h3>
        <h3>{{ productType }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
